<div class="row footer-container">

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    About Us
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    Connect With Us
    <br>
    <br>
    <div class="row">

      <!--remove the grid later and add padding  -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 20px;">

        <i class="fa fa-google-plus" ></i>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 20px;">

        <i class="fa fa-facebook-f" ></i>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 20px;">

        <i class="fa fa-youtube" ></i>

      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    Contact us
  </div>

</div>
