<nav class="navbar navbar-expand-md navbar-dark bg-custom my-custom-navbar"> <!-- mb-4 -->
  <!-- <div class="container-fluid"> -->
    <a class="navbar-brand" href="#"><img class="custom-navbar-logo" src="{{url_for('static', filename = 'server/logo/bracu_logo_white.png')}}"  alt=""> BRAC Uploads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <form class="form-inline mt-2 mt-md-0 ml-auto">
        <input class="form-control mr-sm-3 custom-navbar-search-bar" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-custom-white search-button my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ml-auto custom-navbar-items">

        <li class="nav-item active">
          <a class="nav-link" href="#">{{ session['user_id'] }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logOut">Log out</a>
        </li>

      </ul>

    </div>
  <!-- </div> -->
</nav>
