{% extends 'pageLayout.html' %}

{% block body %}

  <div class="container">

      <div class="row">

          <!--  classrooms   -->
          <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">

              <div class="subscribed-room">

                  <div class="subscribed-room-header-container">

                  </div>

                  <div class="subscribed-room-body-container">
                    Whats up
                  </div>

              </div>

          </div>

      </div>

  </div>

{% endblock %}
