<!DOCTYPE html>
<!-- original was teacher_loged_in_id = = '{{ session['user_id'] }}'; but now changed it to user_ID -->
<html lang="en" dir="ltr" ng-app = "app" ng-init = "selectedChanelID = '{{ session['channelOwnerId'] }}'; user_ID = '{{ session['user_id'] }}';
teacher_availability = '{{ availability }}'; user_identity = '{{ session['user_Identity'] }}'; class_room_id = '{{class_room_id}}'; ">
  <head>
    <meta charset="utf-8">

    {% include 'includes/_styleSheets.html' %}

  </head>
  <body id="layout-page-id"  ng-controller = 'control-div-class-room'  >

    {% include 'includes/_navbar.html' %}

    <div>
      {% block body %}{% endblock %}
    </div>





    {% include 'includes/_scriptSheets.html' %}


    <!-- Calling in my custom file  -->
    <script type="text/javascript" src="{{url_for('static', filename = 'javaScripts/socketIO.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'javaScripts/scripts.js')}}"></script>

  </body>
</html>
