{% extends 'pageLayout.html' %}

{% block body %}

  <div class="subscribed-room-container">

      <div class="row">


          <!--  classrooms   -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

              <div class="subscribed-room">

                  <div class="subscribed-room-header-container card-view">
                      <a href="#"><h1 class=" hide-text-length" > <strong>CSE 420</strong> Compiler design (3 credits) <h1>
                        <h4>4</h4>
                        <strong><i>~ Suriyah Tarin Pakhi</i></strong>
                      </a>

                  </div>

                  <div class="subscribed-room-body-container card-view">

                    <p><strong>Room no :</strong> UB20301</p>
                    <br>
                    <p><strong>Sunday :</strong> UB20301</p>
                    <p><strong>Tuesday :</strong> UB20301</p>
                    <p><strong>Saturday :</strong> UB20301</p>

                    <hr class="line-divider" >

                  </div>

              </div>

          </div>

      </div>

  </div>

{% endblock %}
