{% extends 'pageLayout.html' %}

{% block body %}

  <!-- <img src="url_for('static', filename = 'logo/login_page_logo.png')" alt=""> -->
  <div class="subscribed-room-container">

      <div class="row">

          {% for room_detail in room_details %}
            <!--  classrooms   -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                <div class="subscribed-room">

                    <div class="subscribed-room-header-container card-view">

                        <a href="/classRoom/{{room_detail.teacher_info.teacher_id}}/{{room_detail.course.course_section}}/{{room_detail.course.course_code}}/{{room_detail.course_info.course_name}}">
                          <h1 class=" hide-text-length" > <strong>{{ room_detail.course.course_code }}</strong> {{ room_detail.course_info.course_name }} <h1>
                          <h4>{{ room_detail.course.course_section }}</h4>
                          <strong><i>~ {{ room_detail.teacher_info.teacher_name }}</i></strong>
                        </a>

                        <img class="subscribed-box-profilePic" src="{{url_for('static', filename = 'server/teacher_profile_pic/' + room_detail.teacher_info.teacher_profile_pic + '')}}"  alt="">

                    </div>

                    <div class="subscribed-room-body-container card-view">

                      <p><strong>Room no :</strong> UB20301</p>
                      <br>
                      <p><strong>Sunday :</strong> UB20301</p>
                      <p><strong>Tuesday :</strong> UB20301</p>
                      <p><strong>Saturday :</strong> UB20301</p>

                      <hr class="line-divider" >

                    </div>

                </div>

            </div>

          {% endfor %}


      </div>

  </div>

{% endblock %}
