:root {
    --main-bg-color:  rgb(39, 92, 171);
    --main-bg-login-div: #f0f0f0;
}
/*  global variable decleared above  */
/******************************************************************  THis is for the admin page   **********************************************************************/
.admin-header{
  color: white;
  background-color: rgb(255, 90, 105);
}
.admin-container-body{
  padding: 20px;
  background-color: var(--main-bg-login-div);
}
  .admin-container{
    margin: 250px 500px;
    text-align: center;
  }

.admin-teacher-add-container{
  margin:30px auto 0 auto;
  width: 700px;
  padding: 50px;
  border: 1px solid;

  background-color: var(--main-bg-login-div);
}
#add-teacher-body{
  width: 100%;
  height: 100%;

  background-color: #616161;
}
.admin-panel-dpt-select{
  width: 100%;
  height: 35px;
}

/******************************************************************  THis is for the layout page   **********************************************************************/
#layout-page-id{
  min-width: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/******************************************************************  THis is for the Nav bar   **********************************************************************/
.navbar{
  /* padding: 0; */
  padding: 3px 0 3px 20px;
  /* padding-left: 20px; */
}
.nav-link{
  outline: none;
}
.nav-shadow{
  /* border: 1px solid gray; */
  box-shadow: 0 5px 5px #59616b;
}
.my-custom-navbar{
  font-size: 1.5em;
}
  .custom-navbar-search-bar{
    width: 300px !important;
  }
  .custom-navbar-items > li{
    padding-left: 10px;
    padding-right: 10px;
  }
  .custom-navbar-items li:hover{
    background-color: #0D47A1;
  }
  .custom-navbar-logo{
    width: 50px;
    margin-right: 10px;
  }
.bg-custom{
  background-color:var(--main-bg-color);
  color white;
}
.search-button{
  width: 90px;
}

/******************************************************************  THis is for the login page   **********************************************************************/
#login-body{
  color: #212121;
  background-color: #f5f5f5;
  font-family: "AvenirLTStd-Roman", "Helvetica", "Roboto", "Arial", "sans-serif";
}

.login-page-logo{
  width: 260px;
  margin: 90px 0 0 50px;
}

    /*  left side  */
  .login-page-about-web h1{
    font-size: 3em;
    text-align: left;
    margin-top: 40px;
  }

    .login-page-about-web p{
      text-align: left;
    }

  .get-started{
    padding: 10px;
    font-size: 2em;
  }

  /* rigth side */
  .login-container{
    padding: none;
    color: #fafafa;
    margin-top: 7em;
    width: 450px;
  }

  .login-header{
    width: 100%;
    background-color:var(--main-bg-color);
  }

  .login-header h1{
    padding: 10px 0;
  }

  .login-form-container{
    padding: 50px;
    background-color: var(--main-bg-login-div);
  }

/******************************************************************  THis is for the subscribedRoom page   **********************************************************************/
.subscribed-room{
  margin-bottom: 25px;
}
.subscribed-box-profilePic{
    width: 60px;
    border-radius: 50%;
    right: 0;
    position: absolute;
    margin: 15px 35px 0 0;
}
.subscribed-room-container{
  margin: 50px 50px;
}
  .subscribed-room-header-container{
    height: 160px;
    padding: 20px;
    color: white;
    background-color: var(--main-bg-color);
  }
    .subscribed-room-header-container a{
      text-decoration: none;
      color: inherit;
      outline:none;
    }
  .subscribed-room-body-container{
      background-color: var(--main-bg-login-div);
      padding: 20px;
  }


/******************************************************************  THis is for the ClassRoom page   **********************************************************************/
.teacher-banner{
  /* background: green; */
  background-color: #21406d;
  height: 400px;
  text-align: center;
  color: white;
}
  .teacher-banner h1{
    /* margin-top: 8%; */
    margin-top: 110px;
  }

.class-room-teacher-pic{
    width: 60px;
    border-radius: 50%;
    margin-top: 30px;
}
.availability-conatiner{
    margin-top: 20px;
}
